@model Movie
<div id="SuccessfulRegistration">
    <h2>Successful Registration!</h2>
</div>
<p>Thanks for registering @Model.Title! </p>
<p>Genre: @Model.Genre.</p>
<p>Runtime: @Model.Runtime.</p>
<p>
    Year: @Model.Year
</p>